/* SYSTEM CSS */
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div[data-role=page] {
    background-color: #eee;
    font-size: 18px;
    display: none;
}

div[data-role=content] {
    margin-top: 10px;
}

div[data-role=header] {
    background-color: #001133;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;    
    font-size: 26px;
}

ul[data-role=listview] {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul[data-role=listview] li {
    background-color: #eeeeff;
    border: thin solid #999;
    margin-bottom: 1px;
    font-size: 22px;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
}

ul[data-role=listview] a {
    text-decoration: none;
    color: #000;
    display: block;
}

/* END SYSTEM CSS*/

#item_stats {
    margin-left: auto;
    margin-right: auto;
    border: thin solid #000;
	border-radius: 10px;
	font-size: 12px;
}
#item_ingredients {
    margin-left: auto;
    margin-right: auto;
    border: thin solid #000;
	border-radius: 10px;
	font-size: 16px;
}
.item_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#item_stats td {
	padding: 5px;
}

#item_stats th {
	background-color: #033251;
	color: #fff;
}

#item_ingredients td {
	padding: 5px;
}

#item_ingredients th {
	background-color: #033251;
	color: #fff;
}

#monster_stats {
    margin-left: auto;
    margin-right: auto;
    border: thin solid #000;
    border-radius: 10px;
    font-size: 12px;
}

#monster_stats th {
    background-color: #033251;
    color: #fff;
}

#monster_stats td {
    padding: 5px;
}
.npcInv {
    margin-left: auto;
    margin-right: auto;
    border: thin solid #000;
	border-radius: 10px;
	font-size: 14px;
}

.npcInv td {
	padding: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

.link {
    display: inline;
    border: thin solid #000;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

#searchButton {
    width: 100%;    
    font-size: 22px;
}

#searchBox {
    width: 100%;
    font-size: 22px;
}
