table {
    background-color: #F9F9F9;
    border: 1px #aaa solid;
    margin: 0 auto;
    width: 95%;
}

th {
    background-color: #CECECE;
    color: #333;   
    font-size: 80%;
}

body {
    font-size: 80%;
}

td {
    font-size: 80%;
}

.terraria img {
    
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.woff') format('woff'),
         url('fonts/Roboto.ttf') format('truetype'),
         url('fonts/Roboto.svg#Roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ui-link {
    color: #333 !important;
    font-size: 80%;
}

.ui-body-c img {

}

body * {
    font-family: 'Roboto', Arial, sans-serif !important;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: 'Roboto', Arial, sans-serif !important;
}